<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.Skype.Seatbelt.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-2.2.0.1" newVersion="2.2.0.1" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.Skype.ECS.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-1.37.1.430" newVersion="1.37.1.430" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.Skype.Seatbelt.Core.ClientHelpers" publicKeyToken="31bf3856ad364e35" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-2.2.0.1" newVersion="2.2.0.1" />
        </dependentAssembly>
      </assemblyBinding>
    </runtime>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="Relay.IP" value="13.107.64.2"/>

      <!-- At least one of the following two protocols must be configured   -->
      <!-- Configure only one if testing only one protocol                  -->
      <!-- If both are configured, UDP will be preferred if it is available -->
      <add key="Relay.UDPPort" value="3478"/>
      <add key="Relay.TCPPort" value="443"/>

      <add key="NumIterations" value="1"/>
      <add key="ResultsFilePath" value="c:\temp\performance_results.tsv"/>
      <add key="Delimiter" value="	"/>
      <add key="IntervalInSeconds" value="5"/>
      <add key="OutputFilePath" value="c:\temp\connectivity_results.txt"/>
    </appSettings>
</configuration>
